#container{border: 5px solid black;background-color: rgb(213, 227, 181); height:700px; width: 800px;
display: flex;
flex-direction: column;
justify-content:space-evenly;
flex-wrap: wrap;
align-items:center;
align-content:center;} 
/* if we end the space that creat whiel flex wrap, we use align-content */
h1{text-align: center;}
.box{height:80px; width: 80px; margin: 10px;border: 3px solid; border-radius:8px; text-align: center;}
#box_1{background-color: rgb(131, 131, 237);}
#box_2{background-color: aqua;}
#box_3{background-color: blueviolet;}
#box_4{background-color:salmon;}
#box_5{background-color: darkseagreen;}
#box_6{background-color: hotpink;}
#box_7{background-color: ghostwhite;}
#box_8{background-color:darkgoldenrod;}
#box_9{background-color: chartreuse;}
#box_10{background-color: darkturquoise;}